@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/dropzone/dist/dropzone";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/sweetalert/dist/sweetalert";

body{
  color:black;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; ;
    font-weight: normal;
    line-height: 18px;
    color: #404040;

}

.background--login {
	width: 100%;
    height: 400px;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/21/7c/f0/217cf03c06d38c40002ffcb4d9cc01f6.jpg');
    background-size: cover;
}

.panel--background {
	border-radius: 0px;
}

.login--heading {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; ;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
    font-size: 14px;
    text-transform: uppercase;


    span {
    	color: #1ab394;
    }
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    margin-top: 40px;
}

.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.full-width {
    width: 100% !important;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.font-bold {
    font-weight: 600;
}
h2 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.glemt--kode-tekst {
	margin-top: 15px !important;
}

