body {
	background: #2C3539;
}

.profile--image-menu {
	width: 50px;
}

.nav-header {
 background: none;
}

.nav-label {
	color: #fff;
}

.nav--ikon-farve {
	color: #fff;
}

.nav-second-level li a {
	font-weight: normal;
	padding-bottom: 0px;
}

.nav > li > a {
	padding-bottom: 3px;
}